<div class="overview">
    <img alt="" src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=2048/images/overview.jpg">
    <div class="polygon" tabindex="0">
        <div class="content" onclick="pb_front_widget.show();">
            <h3>1 Очередь</h3>
            <p>Свободно 100 квартир</p>
            <hr>
            <p>Студий 10 квартир от 1,000 млн.руб</p>
            <hr>
            <p>1-комнатных 10 квартир от 2,000 млн.руб</p>
            <hr>
            <p>2-комнатных 10 квартир от 3,000 млн.руб</p>
            <hr>
            <p>3-комнатных 10 квартир от 4,000 млн.руб</p>
            <hr>
            <p>4-комнатных 10 квартир от 5,000 млн.руб</p>
        </div>
    </div>
</div>
<div class="tabs">
    <div class="tab" tabindex="0">
        <div class="label">
            <img alt="" src="images/overview.1.png">
            <h2><span>460</span>квартир с функциональными планировками</h2>
        </div>
        <div class="details">
            Мы разрабатывали планировки с особым вниманием. кухни-гостиные от 18 кв. м, панорамные окна и потолки 2,9 м.
            Но кроме этого, проектировщики позаботились о деталях: продумали гардеробные и ниши под шкафы, в 3- и
            4-комнатных квартирах — дополнительные санузлы, которые можно оборудовать под прачечные.
        </div>
    </div>
    <div class="tab" tabindex="0">
        <div class="label">
            <img alt="" src="images/overview.2.png">
            <h2><span>174</span>машино-места в подземном паркинге</h2>
        </div>
        <div class="details">
            Мы разрабатывали планировки с особым вниманием. кухни-гостиные от 18 кв. м, панорамные окна
            и потолки 2,9 м. Но кроме этого, проектировщики позаботились о деталях: продумали гардеробные и ниши под
            шкафы, в 3- и 4-комнатных квартирах — дополнительные санузлы, которые можно оборудовать под прачечные.
        </div>
    </div>
    <div class="tab" tabindex="0">
        <div class="label">
            <img alt="" src="images/overview.3.png">
            <h2><span>780</span>кв. м под кладовые и колясочные</h2>
        </div>
        <div class="details">
            Мы разрабатывали планировки с особым вниманием. кухни-гостиные от 18 кв. м, панорамные окна
            и потолки 2,9 м. Но кроме этого, проектировщики позаботились о деталях: продумали гардеробные и ниши под
            шкафы, в 3- и 4-комнатных квартирах — дополнительные санузлы, которые можно оборудовать под прачечные.
        </div>
    </div>
    <div class="tab" tabindex="0">
        <div class="label">
            <img alt="" src="images/overview.4.png">
            <h2><span>17</span>детских садов</h2>
        </div>
        <div class="details">
            Мы разрабатывали планировки с особым вниманием. кухни-гостиные от 18 кв. м, панорамные окна
            и потолки 2,9 м. Но кроме этого, проектировщики позаботились о деталях: продумали гардеробные и ниши под
            шкафы, в 3- и 4-комнатных квартирах — дополнительные санузлы, которые можно оборудовать под прачечные.
        </div>
    </div>
    <div class="tab" tabindex="0">
        <div class="label">
            <img alt="" src="images/overview.5.png">
            <h2><span>5</span>школ поблизости</h2>
        </div>
        <div class="details">
            Мы разрабатывали планировки с особым вниманием. кухни-гостиные от 18 кв. м, панорамные окна
            и потолки 2,9 м. Но кроме этого, проектировщики позаботились о деталях: продумали гардеробные и ниши под
            шкафы, в 3- и 4-комнатных квартирах — дополнительные санузлы, которые можно оборудовать под прачечные.
        </div>
    </div>
</div>