<div class="overview">
    <img alt="" src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=2048/images/overview.jpg">
    <div class="polygon" tabindex="0">
        <div class="content" onclick="pb_front_widget.show();">
            <h3>1 Очередь</h3>
            <p>Свободно 100 квартир</p>
            <hr>
            <p>Студий 10 квартир от 1,000 млн.руб</p>
            <hr>
            <p>1-комнатных 10 квартир от 2,000 млн.руб</p>
            <hr>
            <p>2-комнатных 10 квартир от 3,000 млн.руб</p>
            <hr>
            <p>3-комнатных 10 квартир от 4,000 млн.руб</p>
            <hr>
            <p>4-комнатных 10 квартир от 5,000 млн.руб</p>
        </div>
    </div>
</div>
<div class="tabs">
    <div class="tab">
        <div class="label">
            <img alt="" src="">
            <h2><span>460</span>квартир с функциональными планировками</h2>
        </div>
        <div class="details"></div>
    </div>
</div>