<footer>
    <div>
        <figure>
            <img src="/images/logo.inverted.svg" alt="ЖК Темп">
        </figure>
        <div>
            <nav>
                <a href="/">Новости</a>
                <a href="/">О проекте</a>
                <a href="/">Вопрос-ответ</a>
                <a href="/">Документы</a>
                <a href="/">Ход стройки</a>
                <a href="/">Политика конфиденциальности</a>
            </nav>
            <div>
                <a href="/">8 (343) 288 55 66</a>
                <a href="/">info@domtemp.life</a>
            </div>
        </div>
    </div>
    <p>
        Вся представленная на сайте информация носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ст. 437 Гражданского кодекса РФ.Застройщик оставляет за собой право в любое время вносить какие-либо изменения в данные предложения без предварительного уведомления. Покупателям необходимо всегда обсуждать конкретные предложения с Застройщиком и закреплять их письменно, особенно если Покупатель выбирает объект, исходя из особенностей, предоставленной информации.
        На рендерах представлен эскизный проект жилого квартала.
    </p>
</footer>