<section class="form">
    <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/form.1.jpg">
    <div class="content">
        <h2>Остались вопросы ?</h2>
        <hr>
        <p>Напишите нам</p>
        <form action="">
            <input name="name" placeholder="Как к вам обращаться ?">
            <input name="phone" type="tel" placeholder="Телефон">
            <input name="email" type="email" placeholder="E-mail">
            <p>Какой тип недвижимости интересует ?</p>
            <div class="line">
                <label class="line"><input type="checkbox"> Жилая</label>
                <label class="line"><input type="checkbox"> Коммерческая</label>
            </div>
            <textarea name="question" placeholder="Ваш вопрос"></textarea>
            <label class="policy"><input type="checkbox">
                Согласен на обработку персональных данных. <a href="#">Политика конфиденциальности</a>
            </label>
            <button>Отправить заявку</button>
        </form>
    </div>
</section>