<input type="checkbox" class="hidden-toggle" id="menuState">
<header>
    <label for="menuState" class="open-menu-button"></label>
    <figure class="logo">
        <img src="/images/logo.svg" alt="ЖК Темп">
    </figure>
    <nav class="menu">
        <a href="/">Описание ЖК</a>
        <a href="/">Планировки</a>
        <a href="/">Как купить</a>
        <a href="/">Контакты</a>
    </nav>

    <a href="/" class="call-phone-button"><span class="hide-on-mobile">+7 343 311 03 60</span></a>
    <a href="/" class="open-widget-button">Выбрать квартиру</a>

</header>