<header>
    <input type="checkbox" class="hidden-toggle" id="headerMenuState">
    <label for="headerMenuState" class="open-menu-button hide-on-desktop" title="Открыть меню"></label>
    <a href="/" class="logo">
        <img src="/images/logo.svg" alt="ЖК Темп" loading="eager" width="163" height="41">
    </a>
    <div class="menu">
        <nav>
            <div class="sub-menu" tabindex="0">
                <div class="label">Описание ЖК</div>
                <div class="content">
                    <a href="/apartments.html">Квартиры</a>
                    <a href="/infrastructure.html">Инфраструктура</a>
                    <a href="/space.html">Дворы и общественное пространство</a>
                </div>
            </div>
            <a href="/">Планировки</a>
            <a href="/">Как купить</a>
            <a href="/contacts.html">Контакты</a>
        </nav>
        <a href="/" class="open-widget-button hide-on-desktop">Выбрать квартиру</a>
        <label for="headerMenuState" class="close-menu-layer hide-on-desktop" title="Закрыть меню"></label>
    </div>
    <a href="tel:+7 343 311 03 60" class="call-phone-button"><span class="hide-on-mobile">+7 343 311 03 60</span></a>
    <a href="#" class="open-widget-button hide-on-mobile">Выбрать квартиру</a>
</header>