<section class="plans">
    <div class="header">
        <h2>ВыбЕРИте подходящую планировку</h2>
        <hr class="hide-on-mobile">
    </div>
    <div class="variants">
        <div class="card">
            <h3>Студия</h3>
            <img src="/images/index.variants.1.png" alt="">
            <p>от 1 млн. рублей</p>
            <a href="/">ознакомиться подробнее</a>
        </div>
        <div class="card">
            <h3>1-комнатная квартира</h3>
            <img src="/images/index.variants.1.png" alt="">
            <p>от 2 млн. рублей</p>
            <a href="/">ознакомиться подробнее</a>
        </div>
        <div class="card">
            <h3>2-комнатная квартира</h3>
            <img src="/images/index.variants.1.png" alt="">
            <p>от 3 млн. рублей</p>
            <a href="/">ознакомиться подробнее</a>
        </div>
        <div class="card">
            <h3>3-комнатная квартира</h3>
            <img src="/images/index.variants.1.png" alt="">
            <p>от 4 млн. рублей</p>
            <a href="/">ознакомиться подробнее</a>
        </div>
        <div class="card">
            <h3>4-комнатная квартира</h3>
            <img src="/images/index.variants.1.png" alt="">
            <p>от 5 млн. рублей</p>
            <a href="/">ознакомиться подробнее</a>
        </div>
    </div>
</section>