<main class="cards">
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.1.png">
        <div>
            <h2>Сердце района</h2>
            <hr>
            <p>
                ЖК «Темп» находится в центре района среди его главных точек притяжения: площади 1-й Пятилетки,
                пешеходного
                бульвара Культуры и ДК Уралмаш
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.2.png">
        <div>
            <h2>Инфраструктура</h2>
            <hr>
            <p>
                Рядом уже есть всё для комфортной жизни: школы, детские сады, магазины, развитая транспортная сеть,
                медицинский и спортивный центры
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.3.png">
        <div>
            <h2>CLEVER CLASS</h2>
            <hr>
            <p>
                ЖК «Темп» — комфорт-класс с элементами бизнеса. Для удобства жителей собраны лучшие планировочные и
                инженерные решения
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.4.png">
        <div>
            <h2>КВАРТИРЫ</h2>
            <hr>
            <p>
                Главной особенностью комплекса стали квартиры с палисадником и собственным выходом во двор,
                кухнями-гостиными, большими окнами и потолками 2,9 м
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.5.png">
        <div>
            <h2>БЛАГОУСТРОЙСТВО</h2>
            <hr>
            <p>
                Уютный зеленый двор с игровыми площадками и зонами отдыха закрыт для въезда машин и входа посторонних
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.6.png">
        <div>
            <h2>БЕЗОПАСНОСТЬ</h2>
            <hr>
            <p>
                Безопасность обеспечивает круглосуточная служба мониторинга, единый вход через контролируемый ресепшен и
                видеонаблюдение во дворах, холлах, лифтах, паркинге, придомовой территории
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.7.png">
        <div>
            <h2>ЭСТЕТИКА</h2>
            <hr>
            <p>
                В лобби с дизайнерской отделкой жителей встречают приветливые администраторы — наслаждайтесь эстетикой и
                комфортом уровня, как в отеле, каждый день
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/index.main.8.2.png">
        <div>
            <h2>СЕРВИС</h2>
            <hr>
            <p>
                Мобильное приложение позволит оперативно связаться с управляющей компанией Clever Service: оставить
                заявку, заказать дополнительные услуги, а также быть в курсе всех новостей ЖК.
            </p>
        </div>
    </article>
</main>