<main class="cards">
    <article class="card">
        <img src="/images/index.main.1.png" alt="">
        <div>
            <h2>Сердце района</h2>
            <hr>
            <p>
                ЖК «Темп» находится в центре района среди его главных точек притяжения: площади 1-й Пятилетки,
                пешеходного
                бульвара Культуры и ДК Уралмаш
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/index.main.2.png" alt="">
        <div>
            <h2>Инфраструктура</h2>
            <hr>
            <p>
                Рядом уже есть всё для комфортной жизни: школы, детские сады, магазины, развитая транспортная сеть,
                медицинский и спортивный центры
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/index.main.3.png" alt="">
        <div>
            <h2>CLEVER CLASS</h2>
            <hr>
            <p>
                ЖК «Темп» — комфорт-класс с элементами бизнеса. Для удобства жителей собраны лучшие планировочные и
                инженерные решения
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/index.main.4.png" alt="">
        <div>
            <h2>КВАРТИРЫ</h2>
            <hr>
            <p>
                Главной особенностью комплекса стали квартиры с палисадником и собственным выходом во двор,
                кухнями-гостиными, большими окнами и потолками 2,9 м
            </p>
        </div>
    </article>
</main>