<main class="cards">
    <article class="card">
        <img src="/images/infrastructure.main.1.png" alt="" loading="lazy">
        <div>
            <h2>Все нужное — прямо в доме</h2>
            <hr>
            <p>
                Инфраструктура продумана так, чтобы все необходимое было в шаговой доступности: продуктовый магазин,
                аптека, пекарня, детский досуговый центр, пункт выдачи интернет-заказов.
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/infrastructure.main.2.png" alt="" loading="lazy">
        <div>
            <h2>Расположение</h2>
            <hr>
            <p>
                ЖК «Темп» находится в самом центре Уралмаша. Вблизи комплекса — пешеходный бульвар Культуры,
                непосредственно рядом с домом нет шумных магистралей.
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/infrastructure.main.3.png" alt="" loading="lazy">
        <div>
            <h2>Развитый общественный транспорт</h2>
            <hr>
            <p>
                В районе представлены все виды общественного транспорта: трамвай, троллейбус, автобус и метро.
                Трамвайная остановка — в 10 минутах ходьбы, автобусная — непосредственно у дома. До центра города можно
                добраться за 30 минут.
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/infrastructure.main.4.png" alt="" loading="lazy">
        <div>
            <h2>Готовая социальная инфраструктура</h2>
            <hr>
            <p>
                В пешей доступности находятся не только магазины, школы и детские сады, но и ГКБ № 14, диагностический и
                перинатальный центры, а также спортивный комплекс СКБ-Банк Арена.
            </p>
        </div>
    </article>
</main>