<main class="cards slider">
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/space.main.1.png">
        <div>
            <h2>Детская площадка</h2>
            <hr>
            <p>
                Учитывает интересы всех возрастных групп. Для малышей — зона с песочницей под навесом, горками и
                качелями, для подростков — воркаут и площадка для игр с мячом. А взрослые смогут отдохнуть на лавочках в
                тени деревьев.
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/space.main.2.png">
        <div>
            <h2>Закрытый двор</h2>
            <hr>
            <p>
                Двор на стилобате недоступен для автомобилей и посторонних. По периметру двора нет калиток — только
                единый вход через контролируемый ресепшен. Дети могут гулять здесь одни, а родители — не беспокоиться об
                их безопасности.
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/space.main.3.png">
        <div>
            <h2>Озеленение и благоустройство</h2>
            <hr>
            <p>
                Озеленение по индивидуальному проекту позволяет почувствовать себя в цветущем саду — с деревьями,
                кустарниками и разнотравьем. Разноуровневое освещение в вечернее время создает во дворе особый уют.
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/space.main.4.png">
        <div>
            <h2>Ресепшен</h2>
            <hr>
            <p>
                Входная группа — центр притяжения жителей и гостей дома. Здесь можно дождаться такси на мягком диване,
                зарядить телефон или взять кофе в дорогу.
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/space.main.5.png">
        <div>
            <h2>Подъезды</h2>
            <hr>
            <p>
                Вход в подъезд на уровне земли продуман для комфорта жителей всех возрастов: вам не придется
                преодолевать ступени и неудобные пандусы. Внутри — велосипедные, колясочные и душ для собак.
            </p>
        </div>
    </article>
    <article class="card">
        <img alt="" src="https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/space.main.6.1.png">
        <div>
            <h2>Паркинг и хранение</h2>
            <hr>
            <p>
                Подземный и наземный паркинги на 174 машино-места, гостевая парковка на 28 мест. Въезд по
                автоматическому считыванию номеров, на свой этаж можно попасть на лифте. Также на цокольном этаже
                находятся кладовые для хранения шин, велосипедов и других сезонных вещей.
            </p>
        </div>
    </article>
</main>