<main class="cards">
    <article class="card">
        <img src="/images/apartments.main.1.png" alt="" loading="lazy">
        <div>
            <h2>Большие окна</h2>
            <hr>
            <p>
                Окна с повышенной тепло- и шумоизоляцией высотой 2 метра. С ними каждая квартира становится видовой, а
                солнце равномерно наполняет пространство мягким светом.
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/apartments.main.2.png" alt="" loading="lazy">
        <div>
            <h2>Функциональные планировки</h2>
            <hr>
            <p>
                Архитекторы спроектировали смарт-планировки: кухни-гостиные от 20 кв. м, потолки 2,9 м, гардеробные и
                дополнительные санузлы, в которых можно оборудовать постирочные. Идеальная эргономика для комфортной
                жизни.
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/apartments.main.3.png" alt="" loading="lazy">
        <div>
            <h2>Теплые лоджии и квартиры с палисадником</h2>
            <hr>
            <p>
                На первых жилых этажах — квартиры с палисадником для отдыха на свежем воздухе. А теплая лоджия —
                дополнительное пространство, где можно обустроить рабочее место или зону для фитнеса с видом на город.
            </p>
        </div>
    </article>
    <article class="card">
        <img src="/images/apartments.main.4.png" alt="" loading="lazy">
        <div>
            <h2>Отделка white box</h2>
            <hr>
            <p>
                В квартирах выполнена отделка «под чистовую»: стены выровнены и оштукатурены, на полу —
                цементно-песчаная стяжка. Произведена разводка воды, отопления и электрики. Вам останется лишь сделать
                ремонт по своему вкусу.
            </p>
        </div>
    </article>
</main>