.banner {
    color: var(--accent-color);
    position: relative;
    margin: 40px 0;
    padding: calc(var(--horizontal-padding) * 2) var(--horizontal-padding);
}

.banner:after {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.23;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url("../images/apartments.banner.png");
}

.banner a {
    width: 100%;
    padding: 20px 0;
    display: block;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
}

.banner h2 {
    font-size: 20px;
}

.banner hr {
    border: none;
    height: 1px;
    margin-bottom: 30px;
    background-color: var(--header-color);
}

.banner a.accent {
    color: var(--inverted-accent-color);
    background-color: var(--inverted-accent-background-color);
}

@media (min-width: 1025px) {
    .banner {
        display: flex;
        margin: 0 0 532rem;
        align-items: center;
        flex-direction: column;
        padding: 85rem var(--horizontal-padding);
    }

    .banner h2 {
        font-size: 36rem;
        text-align: center;
        margin-bottom: 30rem;
    }

    .banner hr {
        height: 3rem;
    }

    .banner .row {
        display: flex;
        justify-content: center;
        margin-top: 128rem;
    }

    .banner a {
        width: 368rem;
        margin: 0 30rem;
        font-size: 24rem;
        padding: 30rem 0;
        white-space: nowrap;
    }
}