.hero {
    --height: 100vh;
    --height: -moz-available;
    --height: -webkit-fill-available;
    --content-vertical-padding: 10vh;
    --navigation-vertical-padding: var(--content-vertical-padding);
    color: var(--header-color);
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: var(--height);
    background: var(--hero-background-color);
}

.static-viewport-height .hero {
    --content-vertical-padding: calc(var(--static-viewport-height) * .1);
    height: var(--static-viewport-height, var(--height));
}

.hero:after {
    background-color: var(--hero-decoration-color);
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 90% 100%);
    height: var(--height);
    position: absolute;
    display: block;
    width: 100%;
    content: '';
    z-index: 0;
}

.hero > .content {
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    left: var(--horizontal-padding);
    width: calc(52% - var(--horizontal-padding));
    top: calc(var(--content-vertical-padding) + var(--header-height));
    height: auto;
}

.hero > .content h1 {
    font-size: 24px;
}

.hero > .content p {
    line-height: 110.5%;
    margin-top: 10px;
    max-width: 80%;
}

.hero > picture {
    z-index: 1;
}

.hero > picture > img {
    width: 85vw;
    object-fit: cover;
    height: var(--height);
    object-position: center;
    clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero .navigation {
    user-select: none;
    -webkit-user-select: none;
    top: calc(var(--navigation-vertical-padding) + var(--header-height));
    z-index: 3;
    display: flex;
    position: absolute;
    right: var(--horizontal-padding);
}

.hero .navigation button {
    --size: 45px;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    background-size: 7.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--hero-buttons-color);
    background-image: url("../images/hero.arrow.svg");
}

.hero .navigation button:last-of-type {
    background-image: url("../images/hero.arrow.inverted.svg");
    margin-left: 5px;
}

@media (max-width: 1023px) and (orientation: portrait) {
    .hero {
        --content-vertical-padding: 5vh;
    }

    .hero:after {
        clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 40% 100%)
    }

    .hero > picture > img {
        width: 100vw;
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .hero .navigation {
        bottom: var(--navigation-vertical-padding);
        left: var(--horizontal-padding);
        right: unset;
        top: unset;
    }

    .hero.compact:after {
        clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 60% 100%)
    }

    .hero.compact > img {
        clip-path: polygon(100% 20%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@media (min-width: 1024px), (orientation: landscape) {
    .hero:after {
        clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 55% 100%);
    }

    .hero > picture > img {
        width: 55vw;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .hero > .content {
        width: 45%;
        top: var(--header-height);
        height: calc(100% - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .hero {
        --height: 655rem;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-top: var(--header-height);
        background-image: url("../images/hero.pattern.svg");
    }

    .hero:after {
        clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 53.9% 100%);
    }

    .hero > picture > img {
        width: 987rem;
        clip-path: polygon(17% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .hero > .content {
        top: 0;
        height: 100%;
        left: 246rem;
        width: 711rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero > .content.fixed-padding {
        top: calc(var(--header-height) + 122rem);
        height: auto;
    }

    .hero > .content h1 {
        font-size: 56rem;
    }

    .hero > .content p {
        margin-top: 46rem;
        font-size: 1.7vw;
        max-width: initial;
    }

    .hero .navigation {
        top: initial;
        left: 720rem;
        bottom: 34rem;
        right: initial;
    }

    .hero .navigation button {
        --size: 56rem;
    }

    .hero .navigation button:last-of-type {
        margin-left: 14rem;
    }
}