.text {
    padding: 0 var(--horizontal-padding);
    margin: 30px 0;
}

.documentation-text {
    margin: 30px 0;
    font-size: 12px;
    color: var(--header-color);
    padding: 0 var(--horizontal-padding);
    word-break: break-word;
}

.documentation-text h1 {
    word-break: break-word;
}

.documentation-text p {
    margin: revert;
    word-break: break-word;
}

.qna {
    font-size: 12px;
    margin: 34px var(--horizontal-padding);
    background-color: var(--background-color);
    box-shadow: 0px 8px 16px rgba(46, 60, 80, 0.15);
}

.qna details {
    --horizontal-padding: 20px;
    --vertical-padding: 14px;
    --icon-padding: 11px;
    --icon-size: 15px;
    border-bottom: 1px solid #E2DCEB;
}

.qna details[open] {
    border-bottom: none;
}

.qna details > summary {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--accent-color);
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-image: url("../images/arrow.down.svg");
    background-position: center right var(--icon-padding);
    padding: var(--vertical-padding) var(--horizontal-padding);
    padding-right: calc(var(--horizontal-padding) + var(--icon-size));
}

.qna details[open] > summary {
    background-image: url("../images/arrow.up.svg");
}

.qna details > summary::-webkit-details-marker {
    display: none;
}

.qna details .content {
    background-color: #F5F9FE;
    padding: var(--vertical-padding) var(--horizontal-padding);
}

.plans-container {
    padding: var(--horizontal-padding) 0;
}

.plans-header {
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-height);
    padding: var(--horizontal-padding) var(--horizontal-padding) 0;
    background-color: white;
    border-bottom: 1px solid var(--header-submenu-background-color);
}

.plans-header .title {
    color: var(--header-color);
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 18px;
}

.plans-header #plans-switcher {
    -webkit-appearance: none;
    border: none;
    color: inherit;
    background: none;
    width: 100%;
    padding: var(--horizontal-padding) 0;
}

.plans-container article {
    display: none;
    padding: var(--horizontal-padding);
    scroll-margin-top: calc(var(--header-height) + 91px);
}

.plans-container article:target {
    display: block;
}

.plans-container article .variants .variant:not(:last-of-type) {
    margin-bottom: 30px;
}

.plans-container article .variant img {
    margin: var(--horizontal-padding) 0;
}

.plans-container article .content {
    font-size: 12px;
}

.plans-container article a {
    font-size: 20px;
    margin-top: 30px;
    padding: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--inverted-accent-color);
    background-color: var(--inverted-accent-background-color);
}

.scroll-targets-to-top .plans-container article {
    scroll-margin-top: 10000vh;
}

.map {
    margin: 50px 0;
    color: var(--accent-color);
}

.map div {
    padding: 0 var(--horizontal-padding);
}

.map h2 {
    font-size: 20px;
}

.map hr {
    border: none;
    height: 1px;
    width: 100%;
    margin: 12px 0 30px;
    margin-left: calc(var(--horizontal-padding) * -1);
    background-color: var(--header-color);
}

.steps {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    margin: 30px 0 70px;
}

.steps:after {
    content: '';
    height: 1px;
    display: block;
    min-width: var(--horizontal-padding);
}

.steps .step {
    width: 100%;
    min-width: 250px;
    padding: 0 var(--horizontal-padding);
    scroll-snap-align: start;
}

.steps .step:first-of-type {
    scroll-snap-align: center;
}

.steps .step:last-of-type {
    padding-right: 0;
}

.steps .step img {
    --size: 115px;
    width: var(--size);
    height: var(--size);
}

.steps .step h2 {
    font-size: 20px;
    margin: 20px 0;
}

.disable-pattern:after {
    content: none;
}

:root .hide {
    display: none;
}

:root .no-break {
    display: inline-block;
}

@media (max-width: 1023px) {
    :root .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 1024px) {
    .text {
        margin-top: 97rem;
        margin-bottom: 114rem;
        font-size: 32rem;
    }

    .documentation-text {
        font-size: 24rem;
        margin-top: 100rem;
        margin-bottom: 180rem;
    }

    .documentation-text a span {
        font-size: 16rem;
    }

    .qna {
        font-size: 24rem;
        margin: 100rem var(--horizontal-padding);
    }

    .qna details {
        --horizontal-padding: 53rem;
        --vertical-padding: 32rem;
        --icon-padding: 35rem;
        --icon-size: 37rem;
        border: 1px solid #CEDCDF;
    }

    .qna details:not(:last-of-type) {
        border-bottom: none;
    }

    .qna details > summary {
        font-size: 32rem;
    }

    .qna details .content {
        background-color: initial;
    }

    .plans-container {
        padding: 0;
        margin-top: 100rem;
    }

    .plans-container article {
        display: block;
        padding: 0 var(--horizontal-padding);
        scroll-margin-top: calc(var(--header-height) + 50rem);
        margin-bottom: 182rem;
    }

    .plans-container article:before {
        content: 'Планировки квартир';
        font-family: var(--header-font);
        color: var(--header-color);
        text-transform: uppercase;
        margin-bottom: 24rem;
        line-height: 125%;
        font-size: 60rem;
        display: block;
    }

    .plans-container article h2 {
        font-family: var(--text-font);
        text-transform: capitalize;
        font-size: 36rem;
    }

    .plans-container article .variants {
        --gap: 150rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 65rem;
        column-gap: var(--gap);
    }

    .plans-container article .variants .variant {
        max-width: calc((100% - var(--gap)) / 2);
    }

    .plans-container article .variants .variant:not(:last-of-type) {
        margin-bottom: 200rem;
    }

    .plans-container article .variant .title {
        font-size: 36rem;
    }

    .plans-container article .variant img {
        margin: 40rem 0;
    }

    .plans-container article .content {
        font-size: 36rem;
        max-width: 990rem;
    }

    .plans-container article a {
        font-size: 20rem;
        margin-top: 50rem;
        padding: 20rem 26rem;
        display: inline-block;
    }

    .plans-container article.single .wrapper,
    .plans-container article.column .wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    .plans-container article.single .variants,
    .plans-container article.column .variants {
        display: inline-block;
        max-width: 100%;
        float: left;
    }

    .plans-container article.single .variants .variant,
    .plans-container article.column .variants .variant {
        position: relative;
        max-width: 100%;
        padding-right: 45rem;
        flex-direction: row-reverse;
    }

    .plans-container article.single .variant .title,
    .plans-container article.column .variant .title {
        --left-margin: 0;
        position: absolute;
        left: calc(100% + (var(--left-margin) * 1rem));
        width: 408rem;
        width: max-content;
    }

    .plans-container article.single .variant img,
    .plans-container article.column .variant img {
        max-height: 735rem;
        max-width: 870rem;
        margin: 0;
    }

    .plans-container article.single .content,
    .plans-container article.column .content {
        --left-margin: 0;
        bottom: 0;
        width: auto;
        display: inline;
        max-width: initial;
        position: absolute;
        margin-left: calc(var(--left-margin) * 1rem);
        /*padding-left: 40rem;*/
    }

    .plans-container article.column {

    }

    .plans-container article.column .variant img {
        max-height: 622rem;
        max-width: 1005rem;
    }

    .map {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 360rem;
    }

    .map h2 {
        font-size: 60rem;
    }

    .map hr {
        height: 3rem;
        margin-top: 40rem;
        margin-bottom: 170rem;
    }

    .steps {
        color: var(--accent-color);
        padding: 0 var(--horizontal-padding);
        margin: 50rem 0 400rem;
        overflow-x: initial;
        flex-direction: column;
        scroll-snap-type: none;
    }

    .steps:after {
        display: none;
    }

    .steps .step {
        padding: 0;
        display: flex;
        margin: 50rem 0;
        align-items: flex-start;
    }

    .steps .step div {
        max-width: 830rem;
    }

    .steps .step img {
        --size: 130rem;
        margin-right: 116rem;
    }

    .steps .step h2 {
        font-size: 60rem;
        margin: 0;
    }

    .steps .step p {
        font-size: 24rem;
        margin-top: 20rem;
    }

    :root .hide-on-desktop {
        display: none;
    }
}