.overview-legend {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 20px 0;
}

.overview {
    height: 100vw;
    user-select: none;
    position: relative;
    -webkit-user-select: none;
}

.overview > img {
    height: 100%;
    object-fit: cover;
}

.overview .polygon {
    --x: 51.1;
    --y: 52.9;
    --viewport-unit: calc(100vw / 1920 * (2048 / 1086));
    --height: calc(var(--viewport-unit) * 702);
    --width: calc(var(--viewport-unit) * 642);
    --left: calc((var(--x) * 1%) - (var(--width) / 2));
    --top: calc((var(--y) * 1%) - (var(--height) / 2));
    outline: none;
    justify-content: center;
    height: var(--height);
    width: var(--width);
    align-items: center;
    position: absolute;
    left: var(--left);
    top: var(--top);
    cursor: pointer;
    display: flex;
}

.overview .polygon:before,
.overview .polygon:after {
    content: '';
    display: block;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .3s, width .5s, height .5s;
}

.overview .polygon:before {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/overview/overview.polygon.1.svg");
}

.overview .polygon:after {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    will-change: transform;
    background-image: url("../images/overview.pin.png");
}

.overview .polygon:hover:before,
.overview .polygon:focus:before {
    opacity: .3;
}

.overview .polygon:active:before {
    opacity: .5;
    transition: opacity .1s;
}

.overview .polygon .content {
    --filter: blur(15px);
    z-index: 1;
    opacity: 0;
    display: none;
    position: absolute;
    pointer-events: none;
    transition: opacity .2s;
    backdrop-filter: var(--filter);
    padding: var(--horizontal-padding);
    color: var(--inverted-accent-color);
    -webkit-backdrop-filter: var(--filter);
    background-color: rgba(48, 75, 82, 0.8);
    border-radius: var(--horizontal-padding);
    width: calc(100vw - (var(--horizontal-padding) * 2));
    left: calc((var(--x) * -1vw) + (var(--width) / 2) + var(--horizontal-padding));
}

.overview .polygon:hover .content,
.overview .polygon:focus .content {
    opacity: 1;
    pointer-events: initial;
}

.overview .polygon .content:after {
    content: 'Нажмите, чтобы ознакомиться';
    display: inline-block;
    margin-top: 20px;
}

.overview .polygon .content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.overview .polygon .content hr {
    height: 1px;
    border: none;
    margin: 5px 0;
    background-color: var(--inverted-accent-color);
}

.tabs {
    margin: 50px 0;
    color: var(--header-color);
    padding: 0 var(--horizontal-padding);
}

.tabs .tab {
    display: block;
    margin: calc(var(--horizontal-padding) * 2) 0;
}

.tabs .tab .label {
    display: flex;
    align-items: center;
}

.tabs .tab img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    margin-bottom: 7px;
    margin-right: var(--horizontal-padding);
}

.tabs .tab h2 {
    font-family: var(--text-font);
    text-transform: initial;
    font-size: initial;
}

.tabs .tab h2 span {
    font-family: var(--text-font);
    font-weight: 400;
    display: block;
    font-size: 32px;
    margin-bottom: 8px;
}

.tabs .tab .details {
    margin-top: 15px;
    font-size: 12px;
}

@media (min-width: 1024px) {

    .overview-legend {
        font-size: 40rem;
        margin: 40rem 0;
    }

    .overview {
        height: initial;
    }

    .overview > img {
        height: initial;
        object-fit: initial;
    }

    .overview .polygon {
        --viewport-unit: calc(100vw / 1920);
    }

    .overview .polygon:after {
        --size: 121rem;
    }

    .overview .polygon .content {
        left: initial;
        width: auto;
        padding: 40rem;
        border-radius: 40rem;
        font-size: 20rem;
    }

    .overview .polygon .content h3 {
        font-size: 32rem;
    }

    .tabs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 400rem;
        overflow: initial;
        scroll-snap-type: initial;
    }

    .tabs:after {
        content: none;
    }

    .tabs .tab {
        width: 100%;
        margin: initial;
        position: relative;
    }

    .tabs .tab .label {
        height: 181rem;
        padding: 36rem;
        cursor: pointer;
        min-width: 300rem;
        position: relative;
        padding-right: 15rem;
        background-color: var(--background-color);
    }

    .tabs .tab:hover .label {
        box-shadow: 0px 8px 16px rgba(46, 60, 80, 0.15);
    }

    .tabs .tab:focus .label {
        background: var(--hero-background-color);
        box-shadow: inset 0px 8px 16px rgba(46, 60, 80, 0.15);
    }

    .tabs .tab img {
        --size: 100rem;
        margin-right: 15rem;
        margin-bottom: 0;
    }

    .tabs .tab h2 {
        font-size: 16rem;
        width: 100%;
    }

    .tabs .tab h2 span {
        font-size: 32rem;
    }

    .tabs .tab .details {
        position: absolute;
        display: none;
        bottom: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        padding: 36rem 75rem;
        width: 606rem;
    }

    .tabs .tab:last-of-type .details {
        left: initial;
        right: 0;
    }

    .tabs .tab:hover .details,
    .tabs .tab:focus .details {
        display: initial;
    }
}