.banner {
    position: relative;
    margin: 40px 0;
    padding: var(--horizontal-padding);
}

.banner:after {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.23;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url("https://cdn.statically.io/img/domtemp.life/f=auto,w=1024/new/images/apartments.banner.png");
}

.banner a {
    width: 100%;
    padding: 20px 0;
    display: block;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--accent-background-color);
}

.banner h2 {
    font-size: 20px;
    font-family: var(--header-font);
    text-transform: uppercase;
}

.banner hr {
    border: none;
    height: 1px;
    background-color: #23373C;
}

.banner a.accent {
    color: var(--accent-color);
    background-color: var(--accent-background-color);
}

@media (min-width: 1025px) {
    .banner {
        margin: 85px 0;
        padding: 85px var(--horizontal-padding);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
    }

    .banner hr {
        height: 3px;
    }

    .banner .row {
        display: flex;
        justify-content: center;
        margin-top: 128px;
    }

    .banner a {
        margin: 30px;
        font-size: 24px;
        padding: 30px 45px;
        white-space: nowrap;
    }
}