<main class="cards">
    <article class="card">
        <img alt=""
             src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=1024/images/stages/stages.1.jpg">
        <div>
            <h2>Ход строительства ЖК Темп. Июнь 2022. 1 дом</h2>
            <hr>
            <p>
                Секция 10А: Монолитный каркас: готовность 100%. Кладка внутренних и наружных стен: готовность 100%.
                Окна: общая готовность 100%. Фасадные работы - завершенность 95% (осуществляются работы по монтажу
                корзин, отливов и декоративных элементов)...
            </p>
        </div>
    </article>
    <article class="card">
        <img alt=""
             src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=1024/images/stages/stages.2.jpg">
        <div>
            <h2>Ход строительства ЖК Темп. Июнь 2022. 1 дом</h2>
            <hr>
            <p>
                Секция 10А: Монолитный каркас: готовность 100%. Кладка внутренних и наружных стен: готовность 100%.
                Окна: общая готовность 100%. Фасадные работы - завершенность 95% (осуществляются работы по монтажу
                корзин, отливов и декоративных элементов)...
            </p>
        </div>
    </article>
    <article class="card">
        <img alt=""
             src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=1024/images/stages/stages.3.jpg">
        <div>
            <h2>Ход строительства ЖК Темп. Июнь 2022. 1 дом</h2>
            <hr>
            <p>
                Секция 10А: Монолитный каркас: готовность 100%. Кладка внутренних и наружных стен: готовность 100%.
                Окна: общая готовность 100%. Фасадные работы - завершенность 95% (осуществляются работы по монтажу
                корзин, отливов и декоративных элементов)...
            </p>
        </div>
    </article>
    <article class="card">
        <img alt=""
             src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=1024/images/stages/stages.4.jpg">
        <div>
            <h2>Ход строительства ЖК Темп. Июнь 2022. 1 дом</h2>
            <hr>
            <p>
                Секция 10А: Монолитный каркас: готовность 100%. Кладка внутренних и наружных стен: готовность 100%.
                Окна: общая готовность 100%. Фасадные работы - завершенность 95% (осуществляются работы по монтажу
                корзин, отливов и декоративных элементов)...
            </p>
        </div>
    </article>
    <article class="card">
        <img alt=""
             src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=1024/images/stages/stages.5.jpg">
        <div>
            <h2>Ход строительства ЖК Темп. Июнь 2022. 1 дом</h2>
            <hr>
            <p>
                Секция 10А: Монолитный каркас: готовность 100%. Кладка внутренних и наружных стен: готовность 100%.
                Окна: общая готовность 100%. Фасадные работы - завершенность 95% (осуществляются работы по монтажу
                корзин, отливов и декоративных элементов)...
            </p>
        </div>
    </article>
    <article class="card">
        <img alt=""
             src="https://cdn.statically.io/img/temp.static.ponomarev.studio/f=auto,w=1024/images/stages/stages.6.jpg">
        <div>
            <h2>Ход строительства ЖК Темп. Июнь 2022. 1 дом</h2>
            <hr>
            <p>
                Секция 10А: Монолитный каркас: готовность 100%. Кладка внутренних и наружных стен: готовность 100%.
                Окна: общая готовность 100%. Фасадные работы - завершенность 95% (осуществляются работы по монтажу
                корзин, отливов и декоративных элементов)...
            </p>
        </div>
    </article>
</main>