@font-face {
    font-family: SovMod;
    src: url("/fonts/SovMod.otf"),
    url("/fonts/SovMod.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
    line-height: 1.25em;
}

* {
    margin: 0;
}

:root {
    --color: #23373C;
    --accent-color: #FEFEFE;

    --background-color: #FEFEFE;
    --accent-background-color: #23373C;

    --menu-height: 60px;

    --header-font: SovMod, sans-serif;

    --horizontal-padding: 20px;

    background-color: white;
    color: var(--color);
}

html, body {
    height: 100%;
    font-family: 'Tenor Sans', sans-serif;
    touch-action: pan-y pan-x;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    color: var(--color);
}

.hidden-toggle {
    display: none;
}

@media (max-width: 1024px) {
    :root .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 1025px) {
    :root {
        --menu-height: 79px;
        --horizontal-padding: 40px;
    }

    :root .hide-on-desktop {
        display: none;
    }
}

@media (min-width: 1200px) {
    :root {
        --horizontal-padding: 80px;
    }
}

@media (min-width: 1521px) {
    :root {
        --horizontal-padding: calc((100vw - 1520px) / 2);
    }
}