.cards {
    display: flex;
    flex-direction: column;
    padding: 47px var(--horizontal-padding);
}

.cards .card {
    margin: 15px 0;
    --color: var(--header-color)
}

.cards .card:nth-child(even) {
    --color: var(--accent-color)
}

.cards .card img {
    margin: 0 0 23px;
}

.cards .card h2 {
    font-size: 20px;
    margin: 23px 0 10px;
    color: var(--color);
}

.cards .card hr {
    --width: calc((100vw / 320) * 233);
    width: var(--width);
    border: none;
    height: 2px;
    margin: 10px 0;
    margin-left: calc(var(--horizontal-padding) * -1);
    background-color: var(--header-color);
}

.cards .card p {
    margin: 10px 0 0;
    font-size: 12px;
}

.cards .card:nth-child(4n+3) img {
    border-bottom-right-radius: 100vw;
}

@media (max-width: 1023px) {
    .cards .card:nth-child(even) hr {
        --width: calc((100vw / 320) * 258);
        margin-left: calc((100% - var(--width)) + var(--horizontal-padding));
    }
}

@media (min-width: 1024px) {
    .cards {
        padding-top: 180rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .cards .card {
        --width: 100%;
        margin: 0;
        width: var(--width);
    }

    .cards .card h2 {
        font-size: 60rem;
        margin: 68rem 0 40rem;
    }

    .cards .card hr {
        --width: calc(100% + var(--horizontal-padding));
        height: 3rem;
        margin: 40rem 0;
        /*width: calc(100% + var(--horizontal-padding));*/
        margin-right: calc(var(--horizontal-padding) * -1);
    }

    .cards .card p {
        font-size: 24rem;
        margin: 40rem 0 0;
    }

    .cards .card:nth-child(4n+1),
    .cards .card:nth-child(4n+2) {
        margin-top: 315rem;
    }

    .cards .card:nth-child(4n+1) {
        --width: 750rem;
    }

    .cards .card:nth-child(4n+2) {
        --width: calc(624rem + var(--horizontal-padding));
        margin-right: calc(var(--horizontal-padding) * -1);
    }

    .cards .card:nth-child(4n+3),
    .cards .card:nth-child(4n+4) {
        --width: 100vw;
        display: flex;
        margin-top: 180rem;
        flex-direction: row;
        justify-content: space-between;
        margin-right: calc(var(--horizontal-padding) * -1);
    }

    .cards .card:nth-child(4n+3) {
        margin-left: calc(var(--horizontal-padding) * -1);
        align-items: flex-end;
    }

    .cards .card:nth-child(4n+4) {
        --width: 100vw;
        margin-left: calc(var(--horizontal-padding) * -1);
        flex-direction: row-reverse;
    }

    .cards .card:nth-child(4n+2) img {
        width: 624rem;
    }

    .cards .card:nth-child(4n+3) img,
    .cards .card:nth-child(4n+4) img {
        margin: 0;
    }

    .cards .card:nth-child(4n+3) img {
        width: 1080rem;
    }

    .cards .card:nth-child(4n+4) img {
        width: 962rem;
    }

    .cards .card:nth-child(4n+1) div,
    .cards .card:nth-child(4n+4) div {
        align-items: flex-end;
    }

    .cards .card:nth-child(4n+2) div {
        margin-right: 163rem;
    }

    .cards .card:nth-child(4n+3) div {
        margin-right: 105rem;
    }

    .cards .card:nth-child(4n+4) div {
        margin-top: 37rem;
        margin-left: 198rem;
        margin-right: 113rem;
    }

    .cards .card:nth-child(4n+1) h2,
    .cards .card:nth-child(4n+4) h2 {
        text-align: right;
    }

    .cards .card:nth-child(4n+1) hr,
    .cards .card:nth-child(4n+4) hr {
        margin-right: 0;
        margin-left: calc(var(--horizontal-padding) * -1);
    }

    .cards .card:nth-child(4n+3) hr,
    .cards .card:nth-child(4n+4) hr {
        height: 2rem;
    }

    .cards .card:nth-child(4n+2) hr {
        --width: calc(100% + 163rem);
        margin-right: 0;
    }

    .cards .card:nth-child(4n+3) hr {
        --width: calc(100% + 105rem);
        margin-right: 0;
    }

    .cards .card:nth-child(4n+4) hr {
        --width: calc(100% + 198rem);
        margin-left: calc(198rem * -1);
    }

    .cards .card:nth-child(1),
    .cards .card:nth-child(2) {
        margin-top: unset;
    }
}
