.cards {
    --padding: var(--horizontal-padding);
    --inner-margin: 10px;
    --cards-gap: 5%;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.cards .card img {
    margin: 23px 0;
}

.cards .card h2 {
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

.cards .card hr {
    border: none;
    height: 2px;
    margin: var(--inner-margin) 0;
    margin-left: calc(var(--padding) * -1);
    background-color: var(--accent-background-color);
}

.cards .card p {
    font-size: 12px;
}

.cards .card:nth-child(4n+3) img {
    border-bottom-right-radius: 100vw;
}

.cards .card:nth-child(even) hr {
    margin-left: initial;
    margin-right: calc(var(--padding) * -1);
}

.cards.slider .card:nth-child(even) hr {
    margin-left: initial;
    margin-right: initial;
}

@media (max-width: 1024px) {
    .cards.slider {
        overflow-x: scroll;
        flex-direction: row;
        padding: 20px var(--padding);
        scroll-snap-type: x mandatory;
    }

    .cards.slider:after {
        content: '';
        display: block;
        min-width: var(--padding);
        height: 1px;
    }

    .cards.slider .card {
        min-width: calc(100vw - 96px);
        margin-right: 32px;
        scroll-snap-align: center;
    }

    .cards.slider .card:last-of-type {
        margin-right: unset;
    }

    .cards.slider .card hr {
        margin-left: initial;
    }
}

@media (min-width: 1025px) {
    .cards {
        --hr-margin: 40px;
        padding: min(100px, var(--padding)) var(--padding);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards .card {
        margin: 90px 0;
    }

    .cards .card div {
        display: flex;
        flex-direction: column;
    }

    .cards .card h2 {
        font-size: 32px;
    }

    .cards .card hr {
        height: 3px;
        margin-left: initial;
        width: calc(100% + var(--padding));
        margin-right: calc(var(--padding) * -1);
    }

    .cards .card p {
        font-size: 18px;
    }

    .cards .card:nth-child(4n+1),
    .cards .card:nth-child(4n+2) {
        width: calc((100% - var(--cards-gap)) / 2);
    }

    .cards .card:nth-child(4n+3),
    .cards .card:nth-child(4n+4) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cards .card:nth-child(4n+3) {
        align-items: flex-end;
    }

    .cards .card:nth-child(4n+4) {
        flex-direction: row-reverse;
    }

    .cards .card:nth-child(4n+3) img,
    .cards .card:nth-child(4n+4) img {
        width: calc((100% - var(--cards-gap)) / 2);
    }

    .cards .card:nth-child(4n+3) div,
    .cards .card:nth-child(4n+4) div {
        width: calc((100% - var(--cards-gap)) / 2);
    }

    .cards .card:nth-child(4n+4) div {
        margin-top: 105px;
    }

    .cards .card:nth-child(4n+1) div,
    .cards .card:nth-child(4n+4) div {
        align-items: flex-end;
    }

    .cards .card:nth-child(4n+1) hr,
    .cards .card:nth-child(4n+4) hr {
        margin-right: initial;
        margin-left: calc(var(--padding) * -1);
    }

    .cards .card:nth-child(1),
    .cards .card:nth-child(2) {
        margin-top: unset;
    }
}

@media (min-width: 1521px) {
    .cards .card h2 {
        font-size: 54px;
    }

    .cards .card p {
        font-size: 24px;
    }
}