footer {
    --padding: var(--horizontal-padding);
    color: var(--accent-color);
    background-color: var(--accent-background-color);
    padding: var(--padding) 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer a {
    color: var(--accent-color);
}

footer .logo img {
    height: 36px;
}

footer nav {
    font-size: 20px;
}

footer nav a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 15px 0;
    word-break: break-word;
}

footer nav a:before {
    --size: 25px;
    content: '';
    margin-right: 1em;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/nav.png");
}

footer .row, footer .column {
    display: flex;
    flex-direction: column;
}

footer .bordered {
    border-top: 2px solid #50696E;
}

footer .group {
    padding: var(--padding);
}

footer nav a.phone:before {
    background-image: url("../images/phone.png");
}

footer nav a.email:before {
    background-image: url("../images/email.png");
}

.float-widget-button {
    --size: 100px;
    font-size: 12px;
    right: min(var(--horizontal-padding), calc(var(--size) / 2));
    bottom: min(var(--horizontal-padding), calc(var(--size) / 2));
    padding: 20px;
    font-family: Helvetica, sans-serif;
    color: inherit;
    text-decoration: none;
    width: var(--size);
    height: var(--size);
    position: fixed;
    z-index: 3;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 100%;
    background: #CEDCDF;
    box-shadow: 0 0 0 5px rgba(206, 220, 223, 0.5);
}

.float-widget-button img {
    height: 26px;
}

@media (min-width: 1025px) {
    footer {
        --inner-vertical-padding: 60px;
        padding: min(90px, var(--padding)) var(--padding);
        padding-top: var(--inner-vertical-padding);
        align-items: flex-start;
    }

    footer .logo {
        width: 100%;
    }

    footer .logo img {
        height: 33px;
    }

    footer nav {
        justify-content: space-between;
        margin-bottom: var(--inner-vertical-padding);
    }

    footer nav a:first-child {
        margin-top: unset;
    }

    footer nav a.email {
        text-decoration: underline;
    }

    footer, footer .column, footer .row {
        flex-direction: row;
    }

    footer .column {
        flex-direction: column;
    }

    footer .group {
        padding: initial;
    }

    footer .group.double {
        justify-content: space-between;
        width: 66%;
    }

    footer .bordered {
        border-top: initial;
    }

    .float-widget-button {
        --size: 120px;
    }

    .float-widget-button img {
        height: 36px;
    }
}