.form {
    --padding: var(--horizontal-padding);
    padding: var(--padding) 0;
}

.form .content {
    padding: 0 var(--padding);
}

.form h2 {
    font-family: var(--header-font);
    text-transform: uppercase;
    font-size: 20px;
    margin: 12px 0;
}

.form hr {
    border: none;
    height: 1px;
    background-color: var(--accent-background-color);
}

.form p {
    margin: 10px 0;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form .line {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.form input, .form textarea {
    -webkit-appearance: none;
    outline: none;
    padding: 16px;
    margin: 10px 0;
    border: 1px solid #CEDCDF;
    border-radius: unset;
}

.form input[type="checkbox"], .form input:focus, .form textarea:focus {
    border: 1px solid #304B52;
}

.form input[type="checkbox"] {
    --size: 20px;
    cursor: pointer;
    padding: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--size);
    height: var(--size);
}

.form input[type="checkbox"]:checked:before {
    --size: 12px;
    content: '';
    display: block;
    width: var(--size);
    height: var(--size);
    background-color: var(--accent-background-color);
}

.form .line label:not(:last-child) {
    margin-right: 2em;
}

.form label input {
    margin: 0;
    margin-right: .5em;
}

.form button {
    border: none;
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--accent-color);
    background-color: var(--accent-background-color);
}

.form .policy {
    font-size: 12px;
}

@media (min-width: 1025px) {
    .form {
        padding: min(100px, var(--padding)) 0;
        justify-content: space-between;
        display: flex;
    }

    .form img,
    .form .content {
        padding: initial;
    }

    .form img {
        width: 100%;
    }

    .form .content {
        padding-left: min(100px, var(--padding));
        padding-right: var(--padding);
    }

    .form h2 {
        font-size: 28px;
    }

    .form hr {
        margin-right: calc(var(--padding) * -1);
    }

    .form p, .form input, .form textarea {
        font-size: 20px;
    }

    .form .policy {
        font-size: 18px;
    }

    .form button {
        font-size: 24px;
    }
}