header {
    --height: var(--header-height);
    --padding: 16px;
    --mobile-open-widget-button-height: 75px;
    box-shadow: var(--header-box-shadow);
    background-color: var(--header-background-color);
    justify-content: space-between;
    color: var(--accent-color);
    height: var(--height);
    align-items: center;
    max-width: 100vw;
    position: fixed;
    display: flex;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

header > * {
    height: 100%;
}

header a {
    text-decoration: none;
}

header .logo {
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

header .logo img {
    height: 29px;
}

header .header-button {
    --size: var(--height);
    display: block;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--size);
    width: calc(var(--size) + (var(--horizontal-padding) * 2));
}

header .open-menu-button {
    --size: 44px;
    background-image: url("../images/header.menu.button.svg");
}

header .call-phone-button {
    --size: 29px;
    background-color: var(--header-color);
    background-image: url("../images/phone.svg");
}

header .open-widget-button {
    left: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: var(--mobile-menu-width);
    color: var(--inverted-accent-color);
    background-color: var(--header-color);
    height: var(--mobile-open-widget-button-height);
}

header .menu .close-menu-layer {
    position: absolute;
    cursor: pointer;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

header .menu {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
}

header .menu nav {
    z-index: 11;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    overscroll-behavior-y: contain;
    width: var(--mobile-menu-width);
    -webkit-overflow-scrolling: touch;
    background: var(--accent-background-color);
    height: calc(100% - var(--mobile-open-widget-button-height));
}

header .menu nav a,
header .menu nav .sub-menu .label {
    border-bottom: 1px solid #E2DCEB;
    padding: var(--padding);
}

/*header summary::-webkit-details-marker {
    display: none;
}*/

header .menu nav .sub-menu {
    position: relative;
}

header .menu nav .sub-menu .label {
    --icon-color: var(--accent-color);
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

header .menu nav .sub-menu .label:after {
    --image: url("../images/menu.arrow.svg");
    --size: 1em;
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    right: var(--padding);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: var(--size);
    mask-image: var(--image);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: var(--size);
    -webkit-mask-image: var(--image);
    background-color: var(--icon-color);
}

header .menu nav .sub-menu .content {
    display: none;
    flex-direction: column;
    background: var(--header-submenu-background-color);
}

header .menu nav .sub-menu input[type="checkbox"]:checked ~ .label {
    --icon-color: var(--inverted-accent-color);
    color: var(--inverted-accent-color);
    background: #90A4A8;
}

header .menu nav .sub-menu input[type="checkbox"]:checked ~ .content {
    display: flex;
}

#headerMenuState:checked ~ .menu {
    display: initial;
}

@media (min-width: 1024px) {
    header {
        --padding: 48rem;
        padding: 0 var(--horizontal-padding);
    }

    header .logo {
        all: initial;
    }

    header .logo img {
        height: 40rem;
    }

    header .header-button {
        width: initial;
    }

    header .menu {
        all: initial;
        height: 100%;
        color: inherit;
    }

    header .menu nav {
        all: initial;
        height: 100%;
        display: flex;
        color: inherit;
        flex-direction: row;
    }

    header .menu nav a,
    header .menu nav .sub-menu .label,
    header .header-button {
        height: 100%;
        border: initial;
        padding: 0 var(--padding);
        font-size: 16rem;
        align-items: center;
        display: inline-flex;
    }

    header .call-phone-button {
        font-size: 20rem;
        background: initial;
    }

    header .open-widget-button {
        height: 100%;
        width: 150rem;
        font-size: 18rem;
        position: initial;
        text-align: center;
        line-height: 105.19%;
    }

    header .menu nav .sub-menu .label:after {
        right: calc(var(--padding) - (var(--size) * 2));
    }

    header .menu nav .sub-menu .content {
        --inner-vertical-padding: calc(var(--height) / 4);
        box-shadow: var(--header-box-shadow);
        position: absolute;
        max-width: 100%;
        /*padding: var(--inner-vertical-padding) 0;*/
    }

    header .menu nav .sub-menu .content a {
        /*height: calc(var(--height) / 2);*/
        padding: var(--inner-vertical-padding) var(--padding);
    }

    header .menu nav .sub-menu:hover .label {
        --icon-color: var(--inverted-accent-color);
        color: var(--inverted-accent-color);
        background: #90A4A8;
    }

    header .menu nav .sub-menu:hover .content {
        display: flex;
    }
}