.text {
    padding: min(100px, var(--horizontal-padding)) var(--horizontal-padding);
}

.map {
    padding: min(100px, var(--horizontal-padding)) var(--horizontal-padding);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.map h2 {
    font-family: var(--header-font);
    font-size: 20px;
    text-transform: uppercase;
}

.map hr {
    border: none;
    height: 1px;
    margin-left: calc(var(--horizontal-padding) * -1);
    background-color: var(--accent-background-color);
    margin-bottom: 30px;
}

.steps {
    padding: var(--horizontal-padding);
}

.steps .step {
    /*display: flex;*/
}

@media (min-width: 1025px) {
    .text {
        font-size: 32px;
    }

    .map h2 {
        font-size: 60px;
    }

    .map hr {
        height: 3px;
        margin-bottom: 170px;
    }
}