.text {
    padding: 0 var(--horizontal-padding);
    margin: 30px 0;
}

.documentation-text {
    margin: 30px 0;
    font-size: 12px;
    color: var(--header-color);
    padding: 0 var(--horizontal-padding);
}

.qna {
    font-size: 12px;
    margin: 34px var(--horizontal-padding);
    background-color: var(--background-color);
    box-shadow: 0px 8px 16px rgba(46, 60, 80, 0.15);
}

.qna details {
    --horizontal-padding: 20px;
    --vertical-padding: 14px;
    --icon-padding: 11px;
    --icon-size: 15px;
    border-bottom: 1px solid #E2DCEB;
}

.qna details[open] {
    border-bottom: none;
}

.qna details > summary {
    width: 100%;
    cursor: pointer;
    position: relative;
    color: var(--accent-color);
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-image: url("/images/arrow.down.svg");
    background-position: center right var(--icon-padding);
    padding: var(--vertical-padding) var(--horizontal-padding);
    padding-right: calc(var(--horizontal-padding) + var(--icon-size));
}

.qna details[open] > summary {
    background-image: url("/images/arrow.up.svg");
}

.qna details > summary::-webkit-details-marker {
    display: none;
}

.qna details .content {
    background-color: #F5F9FE;
    padding: var(--vertical-padding) var(--horizontal-padding);
}

.map {
    margin: 50px 0;
    color: var(--accent-color);
}

.map div {
    padding: 0 var(--horizontal-padding);
}

.map h2 {
    font-size: 20px;
}

.map hr {
    border: none;
    height: 1px;
    width: 100%;
    margin: 12px 0 30px;
    margin-left: calc(var(--horizontal-padding) * -1);
    background-color: var(--header-color);
}

.steps {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    margin: 30px 0 70px;
}

.steps:after {
    content: '';
    height: 1px;
    display: block;
    min-width: var(--horizontal-padding);
}

.steps .step {
    width: 100%;
    min-width: 250px;
    padding: 0 var(--horizontal-padding);
    scroll-snap-align: start;
}

.steps .step:first-of-type {
    scroll-snap-align: center;
}

.steps .step:last-of-type {
    padding-right: 0;
}

.steps .step img {
    --size: 115px;
    width: var(--size);
    height: var(--size);
}

.steps .step h2 {
    font-size: 20px;
    margin: 20px 0;
}

.disable-pattern:after {
    content: none;
}

:root .hide {
    display: none;
}

:root .no-break {
    display: inline-block;
}

@media (max-width: 1023px) {
    :root .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 1024px) {
    .text {
        margin-top: 97rem;
        margin-bottom: 114rem;
        font-size: 32rem;
    }

    .documentation-text {
        font-size: 24rem;
        margin-top: 200rem;
        margin-bottom: 180rem;
    }

    .documentation-text a span {
        font-size: 16rem;
    }

    .qna {
        font-size: 24rem;
        margin: 185rem var(--horizontal-padding);
    }

    .qna details {
        --horizontal-padding: 53rem;
        --vertical-padding: 32rem;
        --icon-padding: 35rem;
        --icon-size: 37rem;
        border: 1px solid #CEDCDF;
    }

    .qna details:not(:last-of-type) {
        border-bottom: none;
    }

    .qna details > summary {
        font-size: 32rem;
    }

    .qna details .content {
        background-color: initial;
    }

    .map {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 360rem;
    }

    .map h2 {
        font-size: 60rem;
    }

    .map hr {
        height: 3rem;
        margin-top: 40rem;
        margin-bottom: 170rem;
    }

    .steps {
        color: var(--accent-color);
        padding: 0 var(--horizontal-padding);
        margin: 200rem 0 400rem;
        overflow-x: initial;
        flex-direction: column;
        scroll-snap-type: none;
    }

    .steps:after {
        display: none;
    }

    .steps .step {
        padding: 0;
        display: flex;
        margin: 50rem 0;
        align-items: flex-start;
    }

    .steps .step div {
        max-width: 830rem;
    }

    .steps .step img {
        --size: 130rem;
        margin-right: 116rem;
    }

    .steps .step h2 {
        font-size: 60rem;
        margin: 0;
    }

    .steps .step p {
        font-size: 24rem;
        margin-top: 20rem;
    }

    :root .hide-on-desktop {
        display: none;
    }
}